/* CUSTOMIZE THE CAROUSEL */

body {
  padding-top: 50px;
}

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  width: 100%;
	height: 500px;
	margin: 0 auto;
}

.navbar.navbar-inverse.navbar-static-bottom {
  margin-bottom: 0;
}