/* CUSTOMIZE THE CAROUSEL */

body {
  padding-top: 50px;
}

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  width: 100%;
	height: 500px;
	margin: 0 auto;
}

.navbar.navbar-inverse.navbar-static-bottom {
  margin-bottom: 0;
}

/* Login related stuff*/
#login-dp{  
  min-width: 250px;
  padding: 30px 30px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
  padding: 0 px;
}

@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}