/* GENERAL */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  background: #2B2B2B url("./img/bg_pattern.png") !important; 
  background-size: cover;
}

/*
  BACKGROUND

  Per ora non funziona il pattern

  OLD_ #3B3738
  NEW_ #2B2B2B


*/

/* CAROUSEL */

.carousel-inner > .item > img {
  width: 100% ;
	margin: 0 auto;
}


/* LOGIN */

#login-dp{  
  min-width: 250px;
  padding: 30px 30px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* SUBNAV */

.breadcrumb {
  margin-top: 10px;
}


/* VIDEO */

iframe {
  width: 100%;
}


/* SMARTPHONES */

@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
  body {
    padding-bottom: 300px;
  }
}
